@font-face {
  font-family: "Graphik";
  src: url("./assets/fonts/GraphikRegular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "GTWalsheimPro";
  src: url("./assets/fonts/GTWalsheimPro.ttf") format("truetype");
  font-weight: 700;
}

html, body{
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 16px;
   padding:0px;
   margin:0px;
   padding:0px;
   font-family: 'Graphik'; 
   font-family: 400;
   color:#3F403F
 }

h1, h2, h3, h4{
  font-family: 'GTWalsheimPro';
};




